div.res {
  background-color: white;
  text-align: center;
  font-size: large;
  position: absolute;
  width: 12%;
  height: 350px;
  left: 850px;
  top: 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image2 {
/*  display: block;
  margin-left: auto;
  margin-right: auto;*/
    position: absolute;
    visibility: visible;
    width: 40%;
    height: 350px;
    left: 305px;
    top: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}