body {
  background-color: #87CEFA;
  font-family: sans-serif;
}

.image1 {
/*  display: block;
  margin-left: auto;
  margin-right: auto;*/
    position: absolute;
    visibility: visible;
    width: 25%;
    height: 528px;
    left: 325px;
    top: 33px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

div.relative {
  background-color: white;
  text-align: center;
  height: 528px;
  width: 25%;
  position: absolute;
  left: 665px;
  top: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
  width: 75%;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

div.res {
  background-color: white;
  text-align: center;
  font-size: large;
  position: absolute;
  width: 12%;
  height: 350px;
  left: 850px;
  top: 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}