{% extends 'base.html' %}

{% block head %}
<title>Data Collection Page</title>
{% endblock %}

<body>
{% block body %}
<div class="content">


    <image src="{{ url_for('static', filename='images/DOCTOR.jpg')}}" class="image1">

    <div>
    <div class="relative">
        <h2><u>Prediction For Diabetes</u></h2>
    <form action="/predict" method="POST">
            <p><input type="number" name="Pregnancies" id="Pregnancies" placeholder="PREGNANCIES"></p>
            <p><input type="float" name="Glucose" id="Glucose" placeholder="GLUCOSE"></p>
            <p><input type="float" name="BloodPressure" id="BloodPressure" placeholder="BLOOD PRESSURE"></p>
            <p><input type="float" name="SkinThickness" id="SkinThickness" placeholder="SKIN THICKNESS"></p>
            <p><input type="float" name="Insulin" id="Insulin" placeholder="INSULIN"></p>
            <p><input type="float" name="BMI" id="BMI"placeholder="BMI"></p>
            <p><input type="float" name="DiabetesPedigreeFunction" id="DiabetesPedigreeFunction"placeholder="DIABETES PEDIGREE FUNCTION"></p>
            <p><input type="number" name="Age" id="Age"placeholder="AGE"></p>
            <p><input type="submit" value="Predict" id="button"></p>

        </form>
    </div>
    </div>
</div>
{% endblock %}
</body>